flow_mqtt.json
[
    {
        "id": "9477f8bdc592a3a4",
        "type": "tab",
        "label": "Flow_Leo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86b69261f06c5227",
        "type": "json",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "a6d76ba10f418a5a",
                "0631d02cba42cd99",
                "eb328caf30d66b97",
                "05087e2ffa85bb28"
            ]
        ]
    },
    {
        "id": "a6d76ba10f418a5a",
        "type": "change",
        "z": "9477f8bdc592a3a4",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "3570c43cdf468a1e"
            ]
        ]
    },
    {
        "id": "0631d02cba42cd99",
        "type": "change",
        "z": "9477f8bdc592a3a4",
        "name": "Luminosidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Luminosidade",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "cde835669dd6a7e7"
            ]
        ]
    },
    {
        "id": "eb328caf30d66b97",
        "type": "change",
        "z": "9477f8bdc592a3a4",
        "name": "Velocidade do Vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vento",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 480,
        "wires": [
            [
                "c0dbc376745c843d",
                "51db937dba603257"
            ]
        ]
    },
    {
        "id": "0c76a4855955eb78",
        "type": "mqtt in",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "topic": "checkiot4",
        "qos": "2",
        "datatype": "auto",
        "broker": "571256e4.5b4c08",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "4a94f5acb3072b6d"
            ]
        ]
    },
    {
        "id": "4a94f5acb3072b6d",
        "type": "debug",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "b8721fdfc177d62c",
        "type": "serial in",
        "z": "9477f8bdc592a3a4",
        "name": "COM6",
        "serial": "cf744659.0c44a8",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "86b69261f06c5227"
            ]
        ]
    },
    {
        "id": "cde835669dd6a7e7",
        "type": "ui_chart",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "group": "2a60fa61.f65a86",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Luminosidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#00aaff",
            "#aec7e8",
            "#ff7f0e",
            "#ffffff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3570c43cdf468a1e",
        "type": "ui_gauge",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "group": "d34817ad2fd57a35",
        "order": 1,
        "width": 8,
        "height": "9",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#14b1ff",
            "#f59a19",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "05087e2ffa85bb28",
        "type": "mqtt out",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "topic": "checkiot4",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "571256e4.5b4c08",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "c0dbc376745c843d",
        "type": "ui_gauge",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "group": "2a60fa61.f65a86",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Velocidade do Vento",
        "label": "km/h",
        "format": "{{value}}",
        "min": "0",
        "max": "90",
        "colors": [
            "#787878",
            "#ababab",
            "#2ed5ff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "89b4e92c61183867",
        "type": "twitter in",
        "z": "9477f8bdc592a3a4",
        "twitter": "",
        "tags": "@turn_trash",
        "user": "user",
        "name": "Tweets",
        "inputs": 0,
        "x": 410,
        "y": 780,
        "wires": [
            [
                "809f5ef8670517c6"
            ]
        ]
    },
    {
        "id": "809f5ef8670517c6",
        "type": "function",
        "z": "9477f8bdc592a3a4",
        "name": "recebe_tweet",
        "func": "msg.payload = msg.tweet;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 780,
        "wires": [
            [
                "0f5766d9ef67ca6e"
            ]
        ]
    },
    {
        "id": "0f5766d9ef67ca6e",
        "type": "debug",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 780,
        "wires": []
    },
    {
        "id": "51db937dba603257",
        "type": "switch",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "80.00",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 560,
        "wires": [
            [
                "25b283f3e51bdd7a"
            ]
        ]
    },
    {
        "id": "25b283f3e51bdd7a",
        "type": "function",
        "z": "9477f8bdc592a3a4",
        "name": "",
        "func": "msg.payload = \"Velocidade do vento acima de 80km/h\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 640,
        "wires": [
            [
                "97f7656c3ccff0cd"
            ]
        ]
    },
    {
        "id": "97f7656c3ccff0cd",
        "type": "twitter out",
        "z": "9477f8bdc592a3a4",
        "twitter": "",
        "name": "Tweet",
        "x": 1270,
        "y": 640,
        "wires": []
    },
    {
        "id": "571256e4.5b4c08",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cf744659.0c44a8",
        "type": "serial-port",
        "serialport": "COM6",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "2a60fa61.f65a86",
        "type": "ui_group",
        "name": "Default",
        "tab": "54938b6b.1ca0f4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d34817ad2fd57a35",
        "type": "ui_group",
        "name": "Medidores",
        "tab": "54938b6b.1ca0f4",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "54938b6b.1ca0f4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]